@import "../../gui";
$button-min-width: 76px;
$button-min-height: 32px;
$button-border-radius: 20px;
.button {
  padding: $spacing-sm $spacing-base;
  min-width: $button-min-width;
  min-height: $button-min-height;
  font-family: "SPProDisplay";
  font-weight: $font-weight-bold;
  letter-spacing: 0;
  font-size: $font-size-initial;
  line-height: $line-height;
  text-align: center;
  cursor: pointer;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

  &--primary{
    background-color: $info;
    border: none;
    box-shadow: $box-shadow;
    color: $white;
  }
  &--secondary {
    background-color: $blue-dark;
    color: $gray-light;
    border: none;
    box-sizing: border-box;
  }
  &--pressed {
    background-color: $blue-gray;
    border: none;
    box-shadow: $box-shadow;
    color: $white;
  }
  border-radius: $button-border-radius;
}

button:focus {
  outline: 0;
}
button:active { 
  transform: scale(0.90); 
  /* Scaling button to 0.98 to its original size */ 
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
  /* Lowering the shadow */ 
} 