// Generated with util/create-component.js
@import "../../gui";

.card {
  background-color: $blue-dark;
  border-radius: 20px;
  box-shadow: 12px 8px 24px -12px rgba(0, 0, 0, 0.3);
  @extend .app-padding-top-base;
  @extend .app-padding-bottom-base;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
  }
  .content {
    @extend .app-padding-left-xl;
    @extend .app-padding-right-xl;
    @extend .app-padding-bottom-lg;
    @extend .app-padding-top-lg;
    height: 100%;
  }
  h2 {
    min-width: 170px;
    max-width: 170px;
    text-align: center;
    color: $orange;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.1px;
    line-height: 24px;
    @extend .app-margin-left-base;
    @extend .app-margin-right-base;
  }
  .footer {
    text-align: center;
  }
}
