:root {
    --blue: #0676ED;
    --blue-gray: #054A93;
    --blue-dark: #192038;
    --orange: #F6C38A;
    --black: #11162C;
    --gray: #57627B;
    --gray-light: #8F9BB3;
    --gray-dark: #2E3A59;
    --green: #3FC5A3;
    --white: #ffffff;
    --red: #d72828;
}