$spacings: (
  "xs": 4,
  "sm": 8,
  "md": 12,
  "base": 16,
  "lg": 24,
  "xl": 32,
  "xxl": 48,
  "xxxl": 64,
);
$sides: (top, bottom, left, right);

@each $size in map-keys($spacings) {
  .app-margin-#{$size} {
    margin: #{map-get($spacings, $size)}px !important;
  }
  .app-padding-#{$size} {
    padding: #{map-get($spacings, $size)}px !important;
  }

  @each $side in $sides {
    .app-margin-#{$side}-#{$size} {
      margin-#{$side}: #{map-get($spacings, $size)}px !important;
    }
    .app-padding-#{$side}-#{$size} {
      padding-#{$side}: #{map-get($spacings, $size)}px !important;
    }
  }
}
