@import "assets/variables";
@import "assets/typography";
@import "assets/spacing-helpers";
@import "assets/breakponts";
@import "assets/mixins";

h1,
h2 {
  margin: 0 !important;
  padding: 0 !important;
}
